# Spark

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import os
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession
from pyspark.sql.functions import col , when , lit , udf ,to_timestamp
from pyspark.sql import SQLContext
from pyspark.sql.types import *
import findspark
findspark.init()

# import findspark
# findspark.add_packages('mysql:mysql-connector-java:8.0.26')

In [2]:
sc = SparkContext(appName="mysqltest")
sqlContext = SQLContext(sc)
spark = SparkSession.builder.master("local").appName("PySpark_MySQL_test").getOrCreate()

In [3]:
# tableDF = sqlContext.read.format("jdbc")\
# .option("driver","com.mysql.jdbc.Driver")\
# .option("url","jdbc:mysql://localhost:3306/hitachi_vantara_report")\
# .option("dbtable", "user")\
# .option("user", "root")\
# .option("password", "locked1641999")\
# .load()

df_user = spark.read.format("jdbc").option("url", "jdbc:mysql://localhost:3306/hitachi_vantara_report") \
    .option("driver", "com.mysql.jdbc.Driver").option("dbtable", "user") \
    .option("user", "root").option("password", "locked1641999").load()
df_PM = spark.read.format("jdbc").option("url", "jdbc:mysql://localhost:3306/hitachi_vantara_report") \
    .option("driver", "com.mysql.jdbc.Driver").option("dbtable", "project_management") \
    .option("user", "root").option("password", "locked1641999").load()
df_report = spark.read.format("jdbc").option("url", "jdbc:mysql://localhost:3306/hitachi_vantara_report") \
    .option("driver", "com.mysql.jdbc.Driver").option("dbtable", "report") \
    .option("user", "root").option("password", "locked1641999").load()
df_comment = spark.read.format("jdbc").option("url", "jdbc:mysql://localhost:3306/hitachi_vantara_report") \
    .option("driver", "com.mysql.jdbc.Driver").option("dbtable", "comment") \
    .option("user", "root").option("password", "locked1641999").load()
df_user.show()

+---+--------------------+--------------------+--------+--------+
| id|               email|            fullname|is_admin|password|
+---+--------------------+--------------------+--------+--------+
|  1|khang.nguyen3@hit...|Nguyễn Đăng Nam K...|       1|  123abc|
|  2|thuan.nguyen1@hit...|    Nguyễn Đức Thuận|       1|     123|
|  3|khuong.hoang@hita...|        Hoàng Khương|       1|     123|
|  4|hau.nguyen1@hitac...|     Nguyễn Phúc Hậu|       1|     123|
+---+--------------------+--------------------+--------+--------+

In [4]:
df_PM.show()

+---+---------------+-----------+---------------+--------------------+----------------+-------------------+
| id|  customer_name|description|project_lead_id|        project_name|    project_lead|          create_at|
+---+---------------+-----------+---------------+--------------------+----------------+-------------------+
|  1|Nguyễn Hồng Sơn|           |              3|               Vcaas|    Hoàng Khương|               null|
|  2|Nguyễn Hồng Sơn|           |              2|      Project Intern|Nguyễn Đức Thuận|               null|
|  3|Nguyễn Hồng Sơn|           |              4|Data Science Project| Nguyễn Phúc Hậu|2021/07/19 20:07:40|
+---+---------------+-----------+---------------+--------------------+----------------+-------------------+

In [5]:
df_report.show()

+---+----------+------------------+--------------------+-------+-------------------+
| id|project_id|report_template_id|         report_data|user_id|          create_at|
+---+----------+------------------+--------------------+-------+-------------------+
|  1|         1|                 1|{"project_lead": ...|      1|               null|
|  3|         3|                 1|{"project_lead": ...|      1|2021/07/19 20:09:33|
|  4|         2|                 2|{"abc": "sdsds", ...|      1|2021/07/21 11:11:24|
+---+----------+------------------+--------------------+-------+-------------------+

In [6]:
df_comment.show()

+---+--------+---------+-------+------------+
| id| content|report_id|user_id|   user_name|
+---+--------+---------+-------+------------+
|  1|Good Job|        1|      3|Hoàng Khương|
+---+--------+---------+-------+------------+

In [7]:
column = ['id' , 'email' , 'fullname' , 'is_admin' , 'password']
newUser = spark.createDataFrame([(4,'tai.pham@hitachivantara.com','Phạm Đình Tài',0,'123abc')] , column)
newUser.show()

+---+--------------------+-------------+--------+--------+
| id|               email|     fullname|is_admin|password|
+---+--------------------+-------------+--------+--------+
|  4|tai.pham@hitachiv...|Phạm Đình Tài|       0|  123abc|
+---+--------------------+-------------+--------+--------+

In [8]:
df_user = df_user.union(newUser)
df_user.show()

+---+--------------------+--------------------+--------+--------+
| id|               email|            fullname|is_admin|password|
+---+--------------------+--------------------+--------+--------+
|  1|khang.nguyen3@hit...|Nguyễn Đăng Nam K...|       1|  123abc|
|  2|thuan.nguyen1@hit...|    Nguyễn Đức Thuận|       1|     123|
|  3|khuong.hoang@hita...|        Hoàng Khương|       1|     123|
|  4|hau.nguyen1@hitac...|     Nguyễn Phúc Hậu|       1|     123|
|  4|tai.pham@hitachiv...|       Phạm Đình Tài|       0|  123abc|
+---+--------------------+--------------------+--------+--------+

In [9]:
df_user = df_user.withColumn('id' , when(df_user['is_admin'] == 0 , 5).otherwise(df_user['id']))
df_user.show()

+---+--------------------+--------------------+--------+--------+
| id|               email|            fullname|is_admin|password|
+---+--------------------+--------------------+--------+--------+
|  1|khang.nguyen3@hit...|Nguyễn Đăng Nam K...|       1|  123abc|
|  2|thuan.nguyen1@hit...|    Nguyễn Đức Thuận|       1|     123|
|  3|khuong.hoang@hita...|        Hoàng Khương|       1|     123|
|  4|hau.nguyen1@hitac...|     Nguyễn Phúc Hậu|       1|     123|
|  5|tai.pham@hitachiv...|       Phạm Đình Tài|       0|  123abc|
+---+--------------------+--------------------+--------+--------+

In [10]:
df_user = df_user.withColumnRenamed('id' , 'user_id')
df_user.show()

+-------+--------------------+--------------------+--------+--------+
|user_id|               email|            fullname|is_admin|password|
+-------+--------------------+--------------------+--------+--------+
|      1|khang.nguyen3@hit...|Nguyễn Đăng Nam K...|       1|  123abc|
|      2|thuan.nguyen1@hit...|    Nguyễn Đức Thuận|       1|     123|
|      3|khuong.hoang@hita...|        Hoàng Khương|       1|     123|
|      4|hau.nguyen1@hitac...|     Nguyễn Phúc Hậu|       1|     123|
|      5|tai.pham@hitachiv...|       Phạm Đình Tài|       0|  123abc|
+-------+--------------------+--------------------+--------+--------+

In [11]:
df_user_comment = df_user.join(df_comment , ['user_id'])
df_user_comment.show()

+-------+--------------------+------------+--------+--------+---+--------+---------+------------+
|user_id|               email|    fullname|is_admin|password| id| content|report_id|   user_name|
+-------+--------------------+------------+--------+--------+---+--------+---------+------------+
|      3|khuong.hoang@hita...|Hoàng Khương|       1|     123|  1|Good Job|        1|Hoàng Khương|
+-------+--------------------+------------+--------+--------+---+--------+---------+------------+

In [12]:
df_user_report  = df_user.join(df_report , ['user_id'])
df_user_report = df_user_report.drop('user_id' , 'password' , 'is_admin' , 'id')
df_user_report.show()

+--------------------+--------------------+----------+------------------+--------------------+-------------------+
|               email|            fullname|project_id|report_template_id|         report_data|          create_at|
+--------------------+--------------------+----------+------------------+--------------------+-------------------+
|khang.nguyen3@hit...|Nguyễn Đăng Nam K...|         1|                 1|{"project_lead": ...|               null|
|khang.nguyen3@hit...|Nguyễn Đăng Nam K...|         3|                 1|{"project_lead": ...|2021/07/19 20:09:33|
|khang.nguyen3@hit...|Nguyễn Đăng Nam K...|         2|                 2|{"abc": "sdsds", ...|2021/07/21 11:11:24|
+--------------------+--------------------+----------+------------------+--------------------+-------------------+

In [13]:
df_user_report.write.format('jdbc').options(
      url='jdbc:mysql://localhost : 3306/hitachi_vantara_report',
      driver='com.mysql.jdbc.Driver',
      dbtable='spark_import',
      user='root',
      password='locked1641999')\
      .mode('append')\
      .save()

In [13]:
df_error_data_1 = spark.read.option("header",True).csv('error_data_part1.csv')
df_error_data_2 = spark.read.option("header",True).csv('error_data_part2.csv')
df_product_data_1 = spark.read.option("header",True).csv('product_raw_data_part1.csv')
df_product_data_2 = spark.read.option("header",True).csv('product_raw_data_part2.csv')

In [14]:
df_error_data_1.show()

+----------+------+--------------+----+
|Unnamed: 0|errors|    product_id|code|
+----------+------+--------------+----+
|         0|    96| PRODUCT_14111|BLOK|
|         1|     8|   PRODUCT_120|BLOK|
|         2|    96|    PRODUCT_41|FQCH|
|         3|     2|    PRODUCT_14|FQCH|
|         4|     5|   PRODUCT_120|FQCH|
|         5|     8| PRODUCT_14222|BLOK|
|         6|     3| PRODUCT_13333|BLOK|
|         7|     5|    PRODUCT_37|BLOK|
|         8|     5|    PRODUCT_34|BLOK|
|         9|     6|PRODUCT_145555|EMAN|
|        10|     2|    PRODUCT_16|EMAN|
|        11|     7| PRODUCT_14111|FQCH|
|        12|     1|    PRODUCT_29|EMAN|
|        13|     1|    PRODUCT_33|BLOK|
|        14|     1|    PRODUCT_33|BPAK|
|        15|    31|    PRODUCT_63|BPAK|
|        16|    48|PRODUCT_149999|FQCH|
|        17|    48|PRODUCT_146666|EMAN|
|        18|     1|   PRODUCT_176|FQCH|
|        19|    13|   PRODUCT_145|BPAK|
+----------+------+--------------+----+
only showing top 20 rows

In [15]:
df_error_data_2.show()

+----------+------+-------------+----+
|Unnamed: 0|errors|   product_id|code|
+----------+------+-------------+----+
|         0|     1|PRODUCT_10041|FQCH|
|         1|     1|PRODUCT_10033|BPAK|
|         2|     2|PRODUCT_10081|BPAK|
|         3|     1|PRODUCT_10109|BPAK|
|         4|    17|PRODUCT_20041|FQCH|
|         5|     1|PRODUCT_20042|BLOK|
|         6|     2|PRODUCT_10099|BLOK|
|         7|     4|PRODUCT_10124|EMAN|
|         8|    60|PRODUCT_20043|FQCH|
|         9|     3|PRODUCT_20044|BPAK|
|        10|     1|PRODUCT_10094|EMAN|
|        11|     2|PRODUCT_10053|FQCH|
|        12|     2|PRODUCT_10015|BLOK|
|        13|     1|PRODUCT_20045|EMAN|
|        14|     3|PRODUCT_10149|FQCH|
|        15|     7|PRODUCT_20046|BLOK|
|        16|     1|PRODUCT_10137|FQCH|
|        17|     1|PRODUCT_10141|FQCH|
|        18|     1|PRODUCT_20047|BLOK|
|        19|     1|PRODUCT_10122|BPAK|
+----------+------+-------------+----+
only showing top 20 rows

In [16]:
df_error_data = df_error_data_1.union(df_error_data_2)
df_error_data = df_error_data.drop('Unnamed: 0')
df_error_data.show()

+------+--------------+----+
|errors|    product_id|code|
+------+--------------+----+
|    96| PRODUCT_14111|BLOK|
|     8|   PRODUCT_120|BLOK|
|    96|    PRODUCT_41|FQCH|
|     2|    PRODUCT_14|FQCH|
|     5|   PRODUCT_120|FQCH|
|     8| PRODUCT_14222|BLOK|
|     3| PRODUCT_13333|BLOK|
|     5|    PRODUCT_37|BLOK|
|     5|    PRODUCT_34|BLOK|
|     6|PRODUCT_145555|EMAN|
|     2|    PRODUCT_16|EMAN|
|     7| PRODUCT_14111|FQCH|
|     1|    PRODUCT_29|EMAN|
|     1|    PRODUCT_33|BLOK|
|     1|    PRODUCT_33|BPAK|
|    31|    PRODUCT_63|BPAK|
|    48|PRODUCT_149999|FQCH|
|    48|PRODUCT_146666|EMAN|
|     1|   PRODUCT_176|FQCH|
|    13|   PRODUCT_145|BPAK|
+------+--------------+----+
only showing top 20 rows

In [17]:
df_product_data_1.show()

+---+------------+-------------------+-------------------+-------------+
|_c0|machine_name|            in_time|           out_time|   product_id|
+---+------------+-------------------+-------------------+-------------+
|  0| MACHINE_002|2014-12-02 00-42-46|2014-12-02 01-47-57|PRODUCT_10000|
|  1| MACHINE_002|2014-12-01 23-40-12|2014-12-02 00-42-36|PRODUCT_10001|
|  2| MACHINE_002|2014-12-02 09-39-49|2014-12-02 12-56-12|PRODUCT_10002|
|  3| MACHINE_002|2014-12-02 04-40-50|2014-12-02 05-39-32|PRODUCT_10003|
|  4| MACHINE_002|2014-12-02 15-25-44|2014-12-02 16-58-26|PRODUCT_10004|
|  5| MACHINE_002|2014-12-02 03-23-05|2014-12-02 04-40-40|PRODUCT_10005|
|  6| MACHINE_002|2014-12-02 01-48-07|2014-12-02 03-22-55|PRODUCT_10006|
|  7| MACHINE_002|2014-12-02 05-39-41|2014-12-02 06-58-17|PRODUCT_10007|
|  8| MACHINE_002|2014-12-02 14-08-17|2014-12-02 15-25-18|PRODUCT_10008|
|  9| MACHINE_002|2014-12-02 12-56-21|2014-12-02 14-06-47|PRODUCT_10009|
| 10| MACHINE_002|2014-12-01 21-28-45|2014-12-01 22-02-35|PRODUCT_10010|
| 11| MACHINE_002|2014-12-01 22-02-43|2014-12-01 22-52-56|PRODUCT_10011|
| 12| MACHINE_002|2014-12-01 22-53-08|2014-12-01 23-39-59|PRODUCT_10012|
| 13| MACHINE_002|2014-12-02 07-15-59|2014-12-02 09-39-41|PRODUCT_10013|
| 14| MACHINE_002|2014-12-04 03-09-38|2014-12-04 04-09-23|PRODUCT_10014|
| 15| MACHINE_002|2014-12-03 14-01-56|2014-12-03 15-34-09|PRODUCT_10015|
| 16| MACHINE_002|2014-12-04 05-20-29|2014-12-04 06-15-23|PRODUCT_10016|
| 17| MACHINE_002|2014-12-03 03-53-08|2014-12-03 04-57-57|PRODUCT_10017|
| 18| MACHINE_002|2014-12-03 09-25-14|2014-12-03 10-33-16|PRODUCT_10018|
| 19| MACHINE_002|2014-12-03 20-54-01|2014-12-03 21-30-26|PRODUCT_10019|
+---+------------+-------------------+-------------------+-------------+
only showing top 20 rows

In [18]:
df_product_data_2.show()

+---+------------+-------------------+-------------------+----------+
|_c0|machine_name|           out_time|            in_time|product_id|
+---+------------+-------------------+-------------------+----------+
|  0| MACHINE_001|2014-12-01 23-54-18|2014-12-01 22-54-34| PRODUCT_1|
|  1| MACHINE_001|2014-12-02 09-41-20|2014-12-02 08-01-13| PRODUCT_2|
|  2| MACHINE_001|2014-12-02 11-43-00|2014-12-02 09-42-25| PRODUCT_3|
|  3| MACHINE_001|2014-12-02 04-37-19|2014-12-02 03-32-16| PRODUCT_4|
|  4| MACHINE_001|2014-12-02 14-14-46|2014-12-02 12-45-33| PRODUCT_5|
|  5| MACHINE_001|2014-12-02 02-10-19|2014-12-01 23-54-55| PRODUCT_6|
|  6| MACHINE_001|2014-12-02 15-39-18|2014-12-02 14-17-52| PRODUCT_7|
|  7| MACHINE_001|2014-12-02 16-41-45|2014-12-02 15-39-30| PRODUCT_8|
|  8| MACHINE_001|2014-12-02 08-00-52|2014-12-02 07-00-01| PRODUCT_9|
|  9| MACHINE_001|2014-12-02 05-41-26|2014-12-02 04-37-33|PRODUCT_10|
| 10| MACHINE_001|2014-12-02 06-15-40|2014-12-02 05-41-45|PRODUCT_11|
| 11| MACHINE_001|2014-12-02 12-44-58|2014-12-02 11-43-19|PRODUCT_12|
| 12| MACHINE_001|2014-12-01 22-52-50|2014-12-01 21-54-21|PRODUCT_13|
| 13| MACHINE_001|2014-12-02 03-31-48|2014-12-02 02-11-04|PRODUCT_14|
| 14| MACHINE_001|2014-12-03 03-02-24|2014-12-03 01-14-44|PRODUCT_15|
| 15| MACHINE_001|2014-12-03 09-04-08|2014-12-03 08-30-01|PRODUCT_16|
| 16| MACHINE_001|2014-12-03 18-20-54|2014-12-03 17-42-37|PRODUCT_17|
| 17| MACHINE_001|2014-12-04 02-32-54|2014-12-04 01-51-01|PRODUCT_18|
| 18| MACHINE_001|2014-12-04 04-51-45|2014-12-04 03-59-39|PRODUCT_19|
| 19| MACHINE_001|2014-12-03 06-14-12|2014-12-03 04-58-20|PRODUCT_20|
+---+------------+-------------------+-------------------+----------+
only showing top 20 rows

In [19]:
df_product_data = df_product_data_1.union(df_product_data_2)
df_product_data = df_product_data.drop('_c0')
df_product_data.show()

+------------+-------------------+-------------------+-------------+
|machine_name|            in_time|           out_time|   product_id|
+------------+-------------------+-------------------+-------------+
| MACHINE_002|2014-12-02 00-42-46|2014-12-02 01-47-57|PRODUCT_10000|
| MACHINE_002|2014-12-01 23-40-12|2014-12-02 00-42-36|PRODUCT_10001|
| MACHINE_002|2014-12-02 09-39-49|2014-12-02 12-56-12|PRODUCT_10002|
| MACHINE_002|2014-12-02 04-40-50|2014-12-02 05-39-32|PRODUCT_10003|
| MACHINE_002|2014-12-02 15-25-44|2014-12-02 16-58-26|PRODUCT_10004|
| MACHINE_002|2014-12-02 03-23-05|2014-12-02 04-40-40|PRODUCT_10005|
| MACHINE_002|2014-12-02 01-48-07|2014-12-02 03-22-55|PRODUCT_10006|
| MACHINE_002|2014-12-02 05-39-41|2014-12-02 06-58-17|PRODUCT_10007|
| MACHINE_002|2014-12-02 14-08-17|2014-12-02 15-25-18|PRODUCT_10008|
| MACHINE_002|2014-12-02 12-56-21|2014-12-02 14-06-47|PRODUCT_10009|
| MACHINE_002|2014-12-01 21-28-45|2014-12-01 22-02-35|PRODUCT_10010|
| MACHINE_002|2014-12-01 22-02-43|2014-12-01 22-52-56|PRODUCT_10011|
| MACHINE_002|2014-12-01 22-53-08|2014-12-01 23-39-59|PRODUCT_10012|
| MACHINE_002|2014-12-02 07-15-59|2014-12-02 09-39-41|PRODUCT_10013|
| MACHINE_002|2014-12-04 03-09-38|2014-12-04 04-09-23|PRODUCT_10014|
| MACHINE_002|2014-12-03 14-01-56|2014-12-03 15-34-09|PRODUCT_10015|
| MACHINE_002|2014-12-04 05-20-29|2014-12-04 06-15-23|PRODUCT_10016|
| MACHINE_002|2014-12-03 03-53-08|2014-12-03 04-57-57|PRODUCT_10017|
| MACHINE_002|2014-12-03 09-25-14|2014-12-03 10-33-16|PRODUCT_10018|
| MACHINE_002|2014-12-03 20-54-01|2014-12-03 21-30-26|PRODUCT_10019|
+------------+-------------------+-------------------+-------------+
only showing top 20 rows

In [20]:
df_result = df_product_data.join(df_error_data , ['product_id'])
df_result.show()

+-------------+------------+-------------------+-------------------+------+----+
|   product_id|machine_name|            in_time|           out_time|errors|code|
+-------------+------------+-------------------+-------------------+------+----+
|PRODUCT_10015| MACHINE_002|2014-12-03 14-01-56|2014-12-03 15-34-09|     2|BLOK|
|PRODUCT_10021| MACHINE_002|2014-12-03 07-59-24|2014-12-03 08-31-51|    23|FQCH|
|PRODUCT_10021| MACHINE_002|2014-12-03 07-59-24|2014-12-03 08-31-51|     4|BPAK|
|PRODUCT_10033| MACHINE_002|2014-12-03 11-53-30|2014-12-03 13-59-49|     1|BPAK|
|PRODUCT_10041| MACHINE_002|2014-12-03 00-13-52|2014-12-03 01-10-40|     1|FQCH|
|PRODUCT_10053| MACHINE_002|2014-12-03 08-29-06|2014-12-03 09-10-04|     2|FQCH|
|PRODUCT_10081| MACHINE_002|2014-12-05 20-48-56|2014-12-05 22-24-12|     2|BPAK|
|PRODUCT_10094| MACHINE_002|2014-12-06 23-49-18|2014-12-07 00-44-22|     1|EMAN|
|PRODUCT_10099| MACHINE_002|2014-12-06 18-55-23|2014-12-06 20-04-55|     2|BLOK|
|PRODUCT_10105| MACHINE_002|2014-12-07 02-10-26|2014-12-07 02-41-15|     1|BLOK|
|PRODUCT_10109| MACHINE_002|2014-12-07 05-28-32|2014-12-07 05-48-29|     1|BPAK|
|PRODUCT_10122| MACHINE_002|2014-12-07 17-10-04|2014-12-07 17-49-14|     1|BPAK|
|PRODUCT_10124| MACHINE_002|2014-12-07 08-45-52|2014-12-07 10-43-15|     4|EMAN|
|PRODUCT_10132| MACHINE_002|2014-12-07 05-05-53|2014-12-07 05-28-23|     1|BPAK|
|PRODUCT_10137| MACHINE_002|2014-12-08 14-04-25|2014-12-08 15-12-57|     1|FQCH|
|PRODUCT_10141| MACHINE_002|2014-12-08 20-30-12|2014-12-08 21-12-35|     1|FQCH|
|PRODUCT_10149| MACHINE_002|2014-12-09 06-55-52|2014-12-09 08-33-29|     3|FQCH|
|PRODUCT_10167| MACHINE_002|2014-12-10 03-01-37|2014-12-10 03-51-02|     1|EMAN|
|PRODUCT_10190| MACHINE_002|2014-12-11 05-39-45|2014-12-11 06-16-22|     1|BLOK|
|PRODUCT_10195| MACHINE_002|2014-12-11 02-46-12|2014-12-11 04-07-29|     1|BLOK|
+-------------+------------+-------------------+-------------------+------+----+
only showing top 20 rows

In [21]:
df_result = df_result.withColumn('isError' , lit(0))
df_result.printSchema()

root
 |-- product_id: string (nullable = true)
 |-- machine_name: string (nullable = true)
 |-- in_time: string (nullable = true)
 |-- out_time: string (nullable = true)
 |-- errors: string (nullable = true)
 |-- code: string (nullable = true)
 |-- isError: integer (nullable = false)

In [22]:
df_result = df_result.withColumn('errors' , df_result['errors'].cast('float'))
df_result.show()

+-------------+------------+-------------------+-------------------+------+----+-------+
|   product_id|machine_name|            in_time|           out_time|errors|code|isError|
+-------------+------------+-------------------+-------------------+------+----+-------+
|PRODUCT_10015| MACHINE_002|2014-12-03 14-01-56|2014-12-03 15-34-09|   2.0|BLOK|      0|
|PRODUCT_10021| MACHINE_002|2014-12-03 07-59-24|2014-12-03 08-31-51|  23.0|FQCH|      0|
|PRODUCT_10021| MACHINE_002|2014-12-03 07-59-24|2014-12-03 08-31-51|   4.0|BPAK|      0|
|PRODUCT_10033| MACHINE_002|2014-12-03 11-53-30|2014-12-03 13-59-49|   1.0|BPAK|      0|
|PRODUCT_10041| MACHINE_002|2014-12-03 00-13-52|2014-12-03 01-10-40|   1.0|FQCH|      0|
|PRODUCT_10053| MACHINE_002|2014-12-03 08-29-06|2014-12-03 09-10-04|   2.0|FQCH|      0|
|PRODUCT_10081| MACHINE_002|2014-12-05 20-48-56|2014-12-05 22-24-12|   2.0|BPAK|      0|
|PRODUCT_10094| MACHINE_002|2014-12-06 23-49-18|2014-12-07 00-44-22|   1.0|EMAN|      0|
|PRODUCT_10099| MACHINE_002|2014-12-06 18-55-23|2014-12-06 20-04-55|   2.0|BLOK|      0|
|PRODUCT_10105| MACHINE_002|2014-12-07 02-10-26|2014-12-07 02-41-15|   1.0|BLOK|      0|
|PRODUCT_10109| MACHINE_002|2014-12-07 05-28-32|2014-12-07 05-48-29|   1.0|BPAK|      0|
|PRODUCT_10122| MACHINE_002|2014-12-07 17-10-04|2014-12-07 17-49-14|   1.0|BPAK|      0|
|PRODUCT_10124| MACHINE_002|2014-12-07 08-45-52|2014-12-07 10-43-15|   4.0|EMAN|      0|
|PRODUCT_10132| MACHINE_002|2014-12-07 05-05-53|2014-12-07 05-28-23|   1.0|BPAK|      0|
|PRODUCT_10137| MACHINE_002|2014-12-08 14-04-25|2014-12-08 15-12-57|   1.0|FQCH|      0|
|PRODUCT_10141| MACHINE_002|2014-12-08 20-30-12|2014-12-08 21-12-35|   1.0|FQCH|      0|
|PRODUCT_10149| MACHINE_002|2014-12-09 06-55-52|2014-12-09 08-33-29|   3.0|FQCH|      0|
|PRODUCT_10167| MACHINE_002|2014-12-10 03-01-37|2014-12-10 03-51-02|   1.0|EMAN|      0|
|PRODUCT_10190| MACHINE_002|2014-12-11 05-39-45|2014-12-11 06-16-22|   1.0|BLOK|      0|
|PRODUCT_10195| MACHINE_002|2014-12-11 02-46-12|2014-12-11 04-07-29|   1.0|BLOK|      0|
+-------------+------------+-------------------+-------------------+------+----+-------+
only showing top 20 rows

In [51]:
df_result = df_result.withColumn('isError' , when(df_result['errors'] >= 96 , 1).otherwise(df_result['isError']))
df_result.show()

+-------------+------------+-------------------+-------------------+------+----+-------+
|   product_id|machine_name|            in_time|           out_time|errors|code|isError|
+-------------+------------+-------------------+-------------------+------+----+-------+
|PRODUCT_10015| MACHINE_002|2014-12-03 14-01-56|2014-12-03 15-34-09|   2.0|BLOK|      0|
|PRODUCT_10021| MACHINE_002|2014-12-03 07-59-24|2014-12-03 08-31-51|  23.0|FQCH|      0|
|PRODUCT_10021| MACHINE_002|2014-12-03 07-59-24|2014-12-03 08-31-51|   4.0|BPAK|      0|
|PRODUCT_10033| MACHINE_002|2014-12-03 11-53-30|2014-12-03 13-59-49|   1.0|BPAK|      0|
|PRODUCT_10041| MACHINE_002|2014-12-03 00-13-52|2014-12-03 01-10-40|   1.0|FQCH|      0|
|PRODUCT_10053| MACHINE_002|2014-12-03 08-29-06|2014-12-03 09-10-04|   2.0|FQCH|      0|
|PRODUCT_10081| MACHINE_002|2014-12-05 20-48-56|2014-12-05 22-24-12|   2.0|BPAK|      0|
|PRODUCT_10094| MACHINE_002|2014-12-06 23-49-18|2014-12-07 00-44-22|   1.0|EMAN|      0|
|PRODUCT_10099| MACHINE_002|2014-12-06 18-55-23|2014-12-06 20-04-55|   2.0|BLOK|      0|
|PRODUCT_10105| MACHINE_002|2014-12-07 02-10-26|2014-12-07 02-41-15|   1.0|BLOK|      0|
|PRODUCT_10109| MACHINE_002|2014-12-07 05-28-32|2014-12-07 05-48-29|   1.0|BPAK|      0|
|PRODUCT_10122| MACHINE_002|2014-12-07 17-10-04|2014-12-07 17-49-14|   1.0|BPAK|      0|
|PRODUCT_10124| MACHINE_002|2014-12-07 08-45-52|2014-12-07 10-43-15|   4.0|EMAN|      0|
|PRODUCT_10132| MACHINE_002|2014-12-07 05-05-53|2014-12-07 05-28-23|   1.0|BPAK|      0|
|PRODUCT_10137| MACHINE_002|2014-12-08 14-04-25|2014-12-08 15-12-57|   1.0|FQCH|      0|
|PRODUCT_10141| MACHINE_002|2014-12-08 20-30-12|2014-12-08 21-12-35|   1.0|FQCH|      0|
|PRODUCT_10149| MACHINE_002|2014-12-09 06-55-52|2014-12-09 08-33-29|   3.0|FQCH|      0|
|PRODUCT_10167| MACHINE_002|2014-12-10 03-01-37|2014-12-10 03-51-02|   1.0|EMAN|      0|
|PRODUCT_10190| MACHINE_002|2014-12-11 05-39-45|2014-12-11 06-16-22|   1.0|BLOK|      0|
|PRODUCT_10195| MACHINE_002|2014-12-11 02-46-12|2014-12-11 04-07-29|   1.0|BLOK|      0|
+-------------+------------+-------------------+-------------------+------+----+-------+
only showing top 20 rows

In [24]:
df_product_isError = df_result.filter(df_result['isError'] == 1)
df_product_isError.show()

+-------------+------------+-------------------+-------------------+------+----+-------+
|   product_id|machine_name|            in_time|           out_time|errors|code|isError|
+-------------+------------+-------------------+-------------------+------+----+-------+
|PRODUCT_10971| MACHINE_002|2015-01-11 18-57-58|2015-01-11 20-40-02|  99.0|BLOK|      1|
|PRODUCT_11413| MACHINE_002|2015-01-29 05-12-30|2015-01-29 06-20-01| 111.0|EMAN|      1|
|PRODUCT_11413| MACHINE_002|2015-01-29 05-12-30|2015-01-29 06-20-01| 111.0|FQCH|      1|
|PRODUCT_11622| MACHINE_002|2015-02-07 10-08-30|2015-02-07 11-32-26|  96.0|FQCH|      1|
|PRODUCT_14111| MACHINE_002|2015-06-03 13-11-59|2015-06-03 15-09-55|  96.0|BLOK|      1|
|   PRODUCT_41| MACHINE_001|2014-12-04 07-19-53|2014-12-04 07-00-27|  96.0|FQCH|      1|
|  PRODUCT_151| MACHINE_001|2014-12-10 16-30-12|2014-12-10 14-40-42| 104.0|EMAN|      1|
|  PRODUCT_439| MACHINE_001|2014-12-23 06-27-04|2014-12-23 05-14-20|  96.0|EMAN|      1|
|  PRODUCT_444| MACHINE_001|2014-12-23 14-14-32|2014-12-23 13-39-46|  96.0|EMAN|      1|
|  PRODUCT_471| MACHINE_001|2014-12-25 02-23-15|2014-12-25 00-10-30|  96.0|EMAN|      1|
|  PRODUCT_626| MACHINE_001|2015-01-01 11-46-00|2015-01-01 10-40-06|  96.0|BLOK|      1|
|  PRODUCT_628| MACHINE_001|2014-12-31 16-45-54|2014-12-31 15-47-10|  96.0|FQCH|      1|
|  PRODUCT_959| MACHINE_001|2015-01-15 04-58-22|2015-01-15 03-39-23|  96.0|BPAK|      1|
| PRODUCT_1346| MACHINE_001|2015-01-30 06-20-10|2015-01-30 03-55-14|  96.0|BPAK|      1|
| PRODUCT_1346| MACHINE_001|2015-01-30 06-20-10|2015-01-30 03-55-14|  96.0|FQCH|      1|
| PRODUCT_1354| MACHINE_001|2015-01-30 08-55-11|2015-01-30 07-58-38|  96.0|EMAN|      1|
| PRODUCT_1366| MACHINE_001|2015-01-30 07-58-20|2015-01-30 06-59-03|  96.0|BLOK|      1|
| PRODUCT_1455| MACHINE_001|2015-02-03 10-24-40|2015-02-03 09-33-19|  96.0|BPAK|      1|
| PRODUCT_1514| MACHINE_001|2015-02-06 05-13-36|2015-02-06 04-37-43|  96.0|FQCH|      1|
| PRODUCT_1535| MACHINE_001|2015-02-06 23-54-54|2015-02-06 22-36-48|  96.0|BLOK|      1|
+-------------+------------+-------------------+-------------------+------+----+-------+
only showing top 20 rows

In [27]:
df_product_isError.write.format('jdbc').options(
      url='jdbc:mysql://localhost : 3306/hitachi_vantara_report',
      driver='com.mysql.jdbc.Driver',
      dbtable='spark_import',
      user='root',
      password='locked1641999')\
      .mode('append')\
      .save()

In [25]:
arrCode = df_product_isError.select('code').collect()
def countErrorCode(*args) :
    result = {}
    arrArgument  = list(args)
    for arg in arrArgument:
        count = len([i.code for i in arrCode if i.code == arg])
        result[arg] = count
    return result

print(countErrorCode('BLOK' , 'EMAN' , 'FQCH'))

{'BLOK': 13, 'EMAN': 16, 'FQCH': 12}

In [26]:
arrErrorCode = df_product_isError.select('code' ,'errors').collect()
def sumErrorCode(*args) :
    result = {}
    arrArgument  = list(args)
    for arg in arrArgument:
        sumError = sum([i.errors for i in arrErrorCode if i.code == arg])
        result[arg] = sumError
    return result

print(sumErrorCode('BLOK' , 'EMAN' , 'FQCH'))

{'BLOK': 1251.0, 'EMAN': 1562.0, 'FQCH': 1167.0}

In [27]:
udfMergeColumn  = udf(lambda x , y :  '{} : {}'.format(x , y) , StringType())
df_product_isError.withColumn('merge_column' , udfMergeColumn('errors' , 'code')).show()

+-------------+------------+-------------------+-------------------+------+----+-------+------------+
|   product_id|machine_name|            in_time|           out_time|errors|code|isError|merge_column|
+-------------+------------+-------------------+-------------------+------+----+-------+------------+
|PRODUCT_10971| MACHINE_002|2015-01-11 18-57-58|2015-01-11 20-40-02|  99.0|BLOK|      1| 99.0 : BLOK|
|PRODUCT_11413| MACHINE_002|2015-01-29 05-12-30|2015-01-29 06-20-01| 111.0|EMAN|      1|111.0 : EMAN|
|PRODUCT_11413| MACHINE_002|2015-01-29 05-12-30|2015-01-29 06-20-01| 111.0|FQCH|      1|111.0 : FQCH|
|PRODUCT_11622| MACHINE_002|2015-02-07 10-08-30|2015-02-07 11-32-26|  96.0|FQCH|      1| 96.0 : FQCH|
|PRODUCT_14111| MACHINE_002|2015-06-03 13-11-59|2015-06-03 15-09-55|  96.0|BLOK|      1| 96.0 : BLOK|
|   PRODUCT_41| MACHINE_001|2014-12-04 07-19-53|2014-12-04 07-00-27|  96.0|FQCH|      1| 96.0 : FQCH|
|  PRODUCT_151| MACHINE_001|2014-12-10 16-30-12|2014-12-10 14-40-42| 104.0|EMAN|      1|104.0 : EMAN|
|  PRODUCT_439| MACHINE_001|2014-12-23 06-27-04|2014-12-23 05-14-20|  96.0|EMAN|      1| 96.0 : EMAN|
|  PRODUCT_444| MACHINE_001|2014-12-23 14-14-32|2014-12-23 13-39-46|  96.0|EMAN|      1| 96.0 : EMAN|
|  PRODUCT_471| MACHINE_001|2014-12-25 02-23-15|2014-12-25 00-10-30|  96.0|EMAN|      1| 96.0 : EMAN|
|  PRODUCT_626| MACHINE_001|2015-01-01 11-46-00|2015-01-01 10-40-06|  96.0|BLOK|      1| 96.0 : BLOK|
|  PRODUCT_628| MACHINE_001|2014-12-31 16-45-54|2014-12-31 15-47-10|  96.0|FQCH|      1| 96.0 : FQCH|
|  PRODUCT_959| MACHINE_001|2015-01-15 04-58-22|2015-01-15 03-39-23|  96.0|BPAK|      1| 96.0 : BPAK|
| PRODUCT_1346| MACHINE_001|2015-01-30 06-20-10|2015-01-30 03-55-14|  96.0|BPAK|      1| 96.0 : BPAK|
| PRODUCT_1346| MACHINE_001|2015-01-30 06-20-10|2015-01-30 03-55-14|  96.0|FQCH|      1| 96.0 : FQCH|
| PRODUCT_1354| MACHINE_001|2015-01-30 08-55-11|2015-01-30 07-58-38|  96.0|EMAN|      1| 96.0 : EMAN|
| PRODUCT_1366| MACHINE_001|2015-01-30 07-58-20|2015-01-30 06-59-03|  96.0|BLOK|      1| 96.0 : BLOK|
| PRODUCT_1455| MACHINE_001|2015-02-03 10-24-40|2015-02-03 09-33-19|  96.0|BPAK|      1| 96.0 : BPAK|
| PRODUCT_1514| MACHINE_001|2015-02-06 05-13-36|2015-02-06 04-37-43|  96.0|FQCH|      1| 96.0 : FQCH|
| PRODUCT_1535| MACHINE_001|2015-02-06 23-54-54|2015-02-06 22-36-48|  96.0|BLOK|      1| 96.0 : BLOK|
+-------------+------------+-------------------+-------------------+------+----+-------+------------+
only showing top 20 rows

In [28]:
def formatTime(x) :
    arrayTime = x.split(' ')
    arrayTime[1] = arrayTime[1].replace('-' , ':')
    strTime = " ".join(arrayTime)
    return strTime
    
udfFormatTime = udf(formatTime , StringType())
df_product_isError = df_product_isError.withColumn('in_time' , udfFormatTime('in_time')) \
                                       .withColumn('out_time' , udfFormatTime('out_time'))
df_product_isError.show()

+-------------+------------+-------------------+-------------------+------+----+-------+
|   product_id|machine_name|            in_time|           out_time|errors|code|isError|
+-------------+------------+-------------------+-------------------+------+----+-------+
|PRODUCT_10971| MACHINE_002|2015-01-11 18:57:58|2015-01-11 20:40:02|  99.0|BLOK|      1|
|PRODUCT_11413| MACHINE_002|2015-01-29 05:12:30|2015-01-29 06:20:01| 111.0|EMAN|      1|
|PRODUCT_11413| MACHINE_002|2015-01-29 05:12:30|2015-01-29 06:20:01| 111.0|FQCH|      1|
|PRODUCT_11622| MACHINE_002|2015-02-07 10:08:30|2015-02-07 11:32:26|  96.0|FQCH|      1|
|PRODUCT_14111| MACHINE_002|2015-06-03 13:11:59|2015-06-03 15:09:55|  96.0|BLOK|      1|
|   PRODUCT_41| MACHINE_001|2014-12-04 07:19:53|2014-12-04 07:00:27|  96.0|FQCH|      1|
|  PRODUCT_151| MACHINE_001|2014-12-10 16:30:12|2014-12-10 14:40:42| 104.0|EMAN|      1|
|  PRODUCT_439| MACHINE_001|2014-12-23 06:27:04|2014-12-23 05:14:20|  96.0|EMAN|      1|
|  PRODUCT_444| MACHINE_001|2014-12-23 14:14:32|2014-12-23 13:39:46|  96.0|EMAN|      1|
|  PRODUCT_471| MACHINE_001|2014-12-25 02:23:15|2014-12-25 00:10:30|  96.0|EMAN|      1|
|  PRODUCT_626| MACHINE_001|2015-01-01 11:46:00|2015-01-01 10:40:06|  96.0|BLOK|      1|
|  PRODUCT_628| MACHINE_001|2014-12-31 16:45:54|2014-12-31 15:47:10|  96.0|FQCH|      1|
|  PRODUCT_959| MACHINE_001|2015-01-15 04:58:22|2015-01-15 03:39:23|  96.0|BPAK|      1|
| PRODUCT_1346| MACHINE_001|2015-01-30 06:20:10|2015-01-30 03:55:14|  96.0|BPAK|      1|
| PRODUCT_1346| MACHINE_001|2015-01-30 06:20:10|2015-01-30 03:55:14|  96.0|FQCH|      1|
| PRODUCT_1354| MACHINE_001|2015-01-30 08:55:11|2015-01-30 07:58:38|  96.0|EMAN|      1|
| PRODUCT_1366| MACHINE_001|2015-01-30 07:58:20|2015-01-30 06:59:03|  96.0|BLOK|      1|
| PRODUCT_1455| MACHINE_001|2015-02-03 10:24:40|2015-02-03 09:33:19|  96.0|BPAK|      1|
| PRODUCT_1514| MACHINE_001|2015-02-06 05:13:36|2015-02-06 04:37:43|  96.0|FQCH|      1|
| PRODUCT_1535| MACHINE_001|2015-02-06 23:54:54|2015-02-06 22:36:48|  96.0|BLOK|      1|
+-------------+------------+-------------------+-------------------+------+----+-------+
only showing top 20 rows

In [29]:
#dung format thi moi cast dc 
df_product_isError =df_product_isError.select('product_id','machine_name', 'errors' ,'code' , 'isError' , \
                    to_timestamp(df_product_isError['in_time'],'yyyy-MM-dd HH:mm:ss').alias('start_at'), \
                    to_timestamp(df_product_isError['out_time'],'yyyy-MM-dd HH:mm:ss').alias('end_at'))
df_product_isError.show()

+-------------+------------+------+----+-------+-------------------+-------------------+
|   product_id|machine_name|errors|code|isError|           start_at|             end_at|
+-------------+------------+------+----+-------+-------------------+-------------------+
|PRODUCT_10971| MACHINE_002|  99.0|BLOK|      1|2015-01-11 18:57:58|2015-01-11 20:40:02|
|PRODUCT_11413| MACHINE_002| 111.0|EMAN|      1|2015-01-29 05:12:30|2015-01-29 06:20:01|
|PRODUCT_11413| MACHINE_002| 111.0|FQCH|      1|2015-01-29 05:12:30|2015-01-29 06:20:01|
|PRODUCT_11622| MACHINE_002|  96.0|FQCH|      1|2015-02-07 10:08:30|2015-02-07 11:32:26|
|PRODUCT_14111| MACHINE_002|  96.0|BLOK|      1|2015-06-03 13:11:59|2015-06-03 15:09:55|
|   PRODUCT_41| MACHINE_001|  96.0|FQCH|      1|2014-12-04 07:19:53|2014-12-04 07:00:27|
|  PRODUCT_151| MACHINE_001| 104.0|EMAN|      1|2014-12-10 16:30:12|2014-12-10 14:40:42|
|  PRODUCT_439| MACHINE_001|  96.0|EMAN|      1|2014-12-23 06:27:04|2014-12-23 05:14:20|
|  PRODUCT_444| MACHINE_001|  96.0|EMAN|      1|2014-12-23 14:14:32|2014-12-23 13:39:46|
|  PRODUCT_471| MACHINE_001|  96.0|EMAN|      1|2014-12-25 02:23:15|2014-12-25 00:10:30|
|  PRODUCT_626| MACHINE_001|  96.0|BLOK|      1|2015-01-01 11:46:00|2015-01-01 10:40:06|
|  PRODUCT_628| MACHINE_001|  96.0|FQCH|      1|2014-12-31 16:45:54|2014-12-31 15:47:10|
|  PRODUCT_959| MACHINE_001|  96.0|BPAK|      1|2015-01-15 04:58:22|2015-01-15 03:39:23|
| PRODUCT_1346| MACHINE_001|  96.0|BPAK|      1|2015-01-30 06:20:10|2015-01-30 03:55:14|
| PRODUCT_1346| MACHINE_001|  96.0|FQCH|      1|2015-01-30 06:20:10|2015-01-30 03:55:14|
| PRODUCT_1354| MACHINE_001|  96.0|EMAN|      1|2015-01-30 08:55:11|2015-01-30 07:58:38|
| PRODUCT_1366| MACHINE_001|  96.0|BLOK|      1|2015-01-30 07:58:20|2015-01-30 06:59:03|
| PRODUCT_1455| MACHINE_001|  96.0|BPAK|      1|2015-02-03 10:24:40|2015-02-03 09:33:19|
| PRODUCT_1514| MACHINE_001|  96.0|FQCH|      1|2015-02-06 05:13:36|2015-02-06 04:37:43|
| PRODUCT_1535| MACHINE_001|  96.0|BLOK|      1|2015-02-06 23:54:54|2015-02-06 22:36:48|
+-------------+------------+------+----+-------+-------------------+-------------------+
only showing top 20 rows

In [30]:
df_product_isError.printSchema()

root
 |-- product_id: string (nullable = true)
 |-- machine_name: string (nullable = true)
 |-- errors: float (nullable = true)
 |-- code: string (nullable = true)
 |-- isError: integer (nullable = false)
 |-- start_at: timestamp (nullable = true)
 |-- end_at: timestamp (nullable = true)

In [32]:
def timeLogWork(timeStart , timeEnd):
    time = timeEnd - timeStart
    hours  = round(time.seconds /3600)
    return '{} hours'.format(hours)
udfTimeLogWork = udf(timeLogWork, StringType())
df_product_isError = df_product_isError.withColumn('log_work' ,udfTimeLogWork('start_at' ,'end_at'))
df_product_isError.show()

+-------------+------------+------+----+-------+-------------------+-------------------+--------+
|   product_id|machine_name|errors|code|isError|           start_at|             end_at|log_work|
+-------------+------------+------+----+-------+-------------------+-------------------+--------+
|PRODUCT_10971| MACHINE_002|  99.0|BLOK|      1|2015-01-11 18:57:58|2015-01-11 20:40:02| 2 hours|
|PRODUCT_11413| MACHINE_002| 111.0|EMAN|      1|2015-01-29 05:12:30|2015-01-29 06:20:01| 1 hours|
|PRODUCT_11413| MACHINE_002| 111.0|FQCH|      1|2015-01-29 05:12:30|2015-01-29 06:20:01| 1 hours|
|PRODUCT_11622| MACHINE_002|  96.0|FQCH|      1|2015-02-07 10:08:30|2015-02-07 11:32:26| 1 hours|
|PRODUCT_14111| MACHINE_002|  96.0|BLOK|      1|2015-06-03 13:11:59|2015-06-03 15:09:55| 2 hours|
|   PRODUCT_41| MACHINE_001|  96.0|FQCH|      1|2014-12-04 07:19:53|2014-12-04 07:00:27|24 hours|
|  PRODUCT_151| MACHINE_001| 104.0|EMAN|      1|2014-12-10 16:30:12|2014-12-10 14:40:42|22 hours|
|  PRODUCT_439| MACHINE_001|  96.0|EMAN|      1|2014-12-23 06:27:04|2014-12-23 05:14:20|23 hours|
|  PRODUCT_444| MACHINE_001|  96.0|EMAN|      1|2014-12-23 14:14:32|2014-12-23 13:39:46|23 hours|
|  PRODUCT_471| MACHINE_001|  96.0|EMAN|      1|2014-12-25 02:23:15|2014-12-25 00:10:30|22 hours|
|  PRODUCT_626| MACHINE_001|  96.0|BLOK|      1|2015-01-01 11:46:00|2015-01-01 10:40:06|23 hours|
|  PRODUCT_628| MACHINE_001|  96.0|FQCH|      1|2014-12-31 16:45:54|2014-12-31 15:47:10|23 hours|
|  PRODUCT_959| MACHINE_001|  96.0|BPAK|      1|2015-01-15 04:58:22|2015-01-15 03:39:23|23 hours|
| PRODUCT_1346| MACHINE_001|  96.0|BPAK|      1|2015-01-30 06:20:10|2015-01-30 03:55:14|22 hours|
| PRODUCT_1346| MACHINE_001|  96.0|FQCH|      1|2015-01-30 06:20:10|2015-01-30 03:55:14|22 hours|
| PRODUCT_1354| MACHINE_001|  96.0|EMAN|      1|2015-01-30 08:55:11|2015-01-30 07:58:38|23 hours|
| PRODUCT_1366| MACHINE_001|  96.0|BLOK|      1|2015-01-30 07:58:20|2015-01-30 06:59:03|23 hours|
| PRODUCT_1455| MACHINE_001|  96.0|BPAK|      1|2015-02-03 10:24:40|2015-02-03 09:33:19|23 hours|
| PRODUCT_1514| MACHINE_001|  96.0|FQCH|      1|2015-02-06 05:13:36|2015-02-06 04:37:43|23 hours|
| PRODUCT_1535| MACHINE_001|  96.0|BLOK|      1|2015-02-06 23:54:54|2015-02-06 22:36:48|23 hours|
+-------------+------------+------+----+-------+-------------------+-------------------+--------+
only showing top 20 rows

In [46]:
rdd_product_isError = df_product_isError.rdd

In [47]:
rdd_product_isError.collect()

[Row(product_id='PRODUCT_10971', machine_name='MACHINE_002', errors=99.0, code='BLOK', isError=1, start_at=datetime.datetime(2015, 1, 11, 18, 57, 58), end_at=datetime.datetime(2015, 1, 11, 20, 40, 2), log_work='2 hours'),
 Row(product_id='PRODUCT_11413', machine_name='MACHINE_002', errors=111.0, code='EMAN', isError=1, start_at=datetime.datetime(2015, 1, 29, 5, 12, 30), end_at=datetime.datetime(2015, 1, 29, 6, 20, 1), log_work='1 hours'),
 Row(product_id='PRODUCT_11413', machine_name='MACHINE_002', errors=111.0, code='FQCH', isError=1, start_at=datetime.datetime(2015, 1, 29, 5, 12, 30), end_at=datetime.datetime(2015, 1, 29, 6, 20, 1), log_work='1 hours'),
 Row(product_id='PRODUCT_11622', machine_name='MACHINE_002', errors=96.0, code='FQCH', isError=1, start_at=datetime.datetime(2015, 2, 7, 10, 8, 30), end_at=datetime.datetime(2015, 2, 7, 11, 32, 26), log_work='1 hours'),
 Row(product_id='PRODUCT_14111', machine_name='MACHINE_002', errors=96.0, code='BLOK', isError=1, start_at=datetime.datetime(2015, 6, 3, 13, 11, 59), end_at=datetime.datetime(2015, 6, 3, 15, 9, 55), log_work='2 hours'),
 Row(product_id='PRODUCT_41', machine_name='MACHINE_001', errors=96.0, code='FQCH', isError=1, start_at=datetime.datetime(2014, 12, 4, 7, 19, 53), end_at=datetime.datetime(2014, 12, 4, 7, 0, 27), log_work='24 hours'),
 Row(product_id='PRODUCT_151', machine_name='MACHINE_001', errors=104.0, code='EMAN', isError=1, start_at=datetime.datetime(2014, 12, 10, 16, 30, 12), end_at=datetime.datetime(2014, 12, 10, 14, 40, 42), log_work='22 hours'),
 Row(product_id='PRODUCT_439', machine_name='MACHINE_001', errors=96.0, code='EMAN', isError=1, start_at=datetime.datetime(2014, 12, 23, 6, 27, 4), end_at=datetime.datetime(2014, 12, 23, 5, 14, 20), log_work='23 hours'),
 Row(product_id='PRODUCT_444', machine_name='MACHINE_001', errors=96.0, code='EMAN', isError=1, start_at=datetime.datetime(2014, 12, 23, 14, 14, 32), end_at=datetime.datetime(2014, 12, 23, 13, 39, 46), log_work='23 hours'),
 Row(product_id='PRODUCT_471', machine_name='MACHINE_001', errors=96.0, code='EMAN', isError=1, start_at=datetime.datetime(2014, 12, 25, 2, 23, 15), end_at=datetime.datetime(2014, 12, 25, 0, 10, 30), log_work='22 hours'),
 Row(product_id='PRODUCT_626', machine_name='MACHINE_001', errors=96.0, code='BLOK', isError=1, start_at=datetime.datetime(2015, 1, 1, 11, 46), end_at=datetime.datetime(2015, 1, 1, 10, 40, 6), log_work='23 hours'),
 Row(product_id='PRODUCT_628', machine_name='MACHINE_001', errors=96.0, code='FQCH', isError=1, start_at=datetime.datetime(2014, 12, 31, 16, 45, 54), end_at=datetime.datetime(2014, 12, 31, 15, 47, 10), log_work='23 hours'),
 Row(product_id='PRODUCT_959', machine_name='MACHINE_001', errors=96.0, code='BPAK', isError=1, start_at=datetime.datetime(2015, 1, 15, 4, 58, 22), end_at=datetime.datetime(2015, 1, 15, 3, 39, 23), log_work='23 hours'),
 Row(product_id='PRODUCT_1346', machine_name='MACHINE_001', errors=96.0, code='BPAK', isError=1, start_at=datetime.datetime(2015, 1, 30, 6, 20, 10), end_at=datetime.datetime(2015, 1, 30, 3, 55, 14), log_work='22 hours'),
 Row(product_id='PRODUCT_1346', machine_name='MACHINE_001', errors=96.0, code='FQCH', isError=1, start_at=datetime.datetime(2015, 1, 30, 6, 20, 10), end_at=datetime.datetime(2015, 1, 30, 3, 55, 14), log_work='22 hours'),
 Row(product_id='PRODUCT_1354', machine_name='MACHINE_001', errors=96.0, code='EMAN', isError=1, start_at=datetime.datetime(2015, 1, 30, 8, 55, 11), end_at=datetime.datetime(2015, 1, 30, 7, 58, 38), log_work='23 hours'),
 Row(product_id='PRODUCT_1366', machine_name='MACHINE_001', errors=96.0, code='BLOK', isError=1, start_at=datetime.datetime(2015, 1, 30, 7, 58, 20), end_at=datetime.datetime(2015, 1, 30, 6, 59, 3), log_work='23 hours'),
 Row(product_id='PRODUCT_1455', machine_name='MACHINE_001', errors=96.0, code='BPAK', isError=1, start_at=datetime.datetime(2015, 2, 3, 10, 24, 40), end_at=datetime.datetime(2015, 2, 3, 9, 33, 19), log_work='23 hours'),
 Row(product_id='PRODUCT_1514', machine_name='MACHINE_001', errors=96.0, code='FQCH', isError=1, start_at=datetime.datetime(2015, 2, 6, 5, 13, 36), end_at=datetime.datetime(2015, 2, 6, 4, 37, 43), log_work='23 hours'),
 Row(product_id='PRODUCT_1535', machine_name='MACHINE_001', errors=96.0, code='BLOK', isError=1, start_at=datetime.datetime(2015, 2, 6, 23, 54, 54), end_at=datetime.datetime(2015, 2, 6, 22, 36, 48), log_work='23 hours'),
 Row(product_id='PRODUCT_1535', machine_name='MACHINE_001', errors=96.0, code='EMAN', isError=1, start_at=datetime.datetime(2015, 2, 6, 23, 54, 54), end_at=datetime.datetime(2015, 2, 6, 22, 36, 48), log_work='23 hours'),
 Row(product_id='PRODUCT_1771', machine_name='MACHINE_001', errors=96.0, code='BLOK', isError=1, start_at=datetime.datetime(2015, 2, 19, 10, 50, 5), end_at=datetime.datetime(2015, 2, 19, 9, 16, 30), log_work='22 hours'),
 Row(product_id='PRODUCT_1854', machine_name='MACHINE_001', errors=96.0, code='BPAK', isError=1, start_at=datetime.datetime(2015, 2, 24, 2, 14, 12), end_at=datetime.datetime(2015, 2, 24, 1, 37), log_work='23 hours'),
 Row(product_id='PRODUCT_1867', machine_name='MACHINE_001', errors=96.0, code='BPAK', isError=1, start_at=datetime.datetime(2015, 2, 24, 8, 14, 51), end_at=datetime.datetime(2015, 2, 24, 6, 57, 4), log_work='23 hours'),
 Row(product_id='PRODUCT_1910', machine_name='MACHINE_001', errors=96.0, code='FQCH', isError=1, start_at=datetime.datetime(2015, 2, 27, 8, 20, 39), end_at=datetime.datetime(2015, 2, 27, 7, 8, 53), log_work='23 hours'),
 Row(product_id='PRODUCT_1917', machine_name='MACHINE_001', errors=96.0, code='EMAN', isError=1, start_at=datetime.datetime(2015, 2, 27, 15, 16, 17), end_at=datetime.datetime(2015, 2, 27, 13, 20, 49), log_work='22 hours'),
 Row(product_id='PRODUCT_1934', machine_name='MACHINE_001', errors=99.0, code='EMAN', isError=1, start_at=datetime.datetime(2015, 3, 1, 3, 23, 18), end_at=datetime.datetime(2015, 3, 1, 2, 16, 25), log_work='23 hours'),
 Row(product_id='PRODUCT_1956', machine_name='MACHINE_001', errors=96.0, code='EMAN', isError=1, start_at=datetime.datetime(2015, 3, 2, 14, 48, 3), end_at=datetime.datetime(2015, 3, 2, 13, 31, 55), log_work='23 hours'),
 Row(product_id='PRODUCT_1957', machine_name='MACHINE_001', errors=96.0, code='FQCH', isError=1, start_at=datetime.datetime(2015, 3, 2, 10, 35, 41), end_at=datetime.datetime(2015, 3, 2, 9, 28, 13), log_work='23 hours'),
 Row(product_id='PRODUCT_1980', machine_name='MACHINE_001', errors=96.0, code='BPAK', isError=1, start_at=datetime.datetime(2015, 3, 3, 1, 8, 36), end_at=datetime.datetime(2015, 3, 3, 0, 13, 30), log_work='23 hours'),
 Row(product_id='PRODUCT_1984', machine_name='MACHINE_001', errors=96.0, code='BPAK', isError=1, start_at=datetime.datetime(2015, 3, 3, 9, 14, 15), end_at=datetime.datetime(2015, 3, 3, 8, 40, 10), log_work='23 hours'),
 Row(product_id='PRODUCT_1989', machine_name='MACHINE_001', errors=96.0, code='EMAN', isError=1, start_at=datetime.datetime(2015, 3, 3, 5, 13, 16), end_at=datetime.datetime(2015, 3, 3, 3, 37, 33), log_work='22 hours'),
 Row(product_id='PRODUCT_1998', machine_name='MACHINE_001', errors=96.0, code='BLOK', isError=1, start_at=datetime.datetime(2015, 3, 3, 3, 36, 54), end_at=datetime.datetime(2015, 3, 3, 3, 5, 32), log_work='23 hours'),
 Row(product_id='PRODUCT_2025', machine_name='MACHINE_001', errors=96.0, code='FQCH', isError=1, start_at=datetime.datetime(2015, 3, 4, 6, 29, 38), end_at=datetime.datetime(2015, 3, 4, 5, 3, 48), log_work='23 hours'),
 Row(product_id='PRODUCT_2135', machine_name='MACHINE_001', errors=96.0, code='FQCH', isError=1, start_at=datetime.datetime(2015, 3, 8, 2, 34, 50), end_at=datetime.datetime(2015, 3, 8, 1, 53, 53), log_work='23 hours'),
 Row(product_id='PRODUCT_2152', machine_name='MACHINE_001', errors=96.0, code='BPAK', isError=1, start_at=datetime.datetime(2015, 3, 8, 20, 29, 1), end_at=datetime.datetime(2015, 3, 8, 20, 4, 17), log_work='24 hours'),
 Row(product_id='PRODUCT_2280', machine_name='MACHINE_001', errors=96.0, code='BLOK', isError=1, start_at=datetime.datetime(2015, 3, 12, 14, 36), end_at=datetime.datetime(2015, 3, 12, 13, 24, 58), log_work='23 hours'),
 Row(product_id='PRODUCT_2281', machine_name='MACHINE_001', errors=96.0, code='EMAN', isError=1, start_at=datetime.datetime(2015, 3, 13, 1, 42, 22), end_at=datetime.datetime(2015, 3, 13, 1, 7, 20), log_work='23 hours'),
 Row(product_id='PRODUCT_2284', machine_name='MACHINE_001', errors=96.0, code='EMAN', isError=1, start_at=datetime.datetime(2015, 3, 13, 5, 3, 18), end_at=datetime.datetime(2015, 3, 13, 3, 56, 35), log_work='23 hours'),
 Row(product_id='PRODUCT_2317', machine_name='MACHINE_001', errors=96.0, code='BPAK', isError=1, start_at=datetime.datetime(2015, 3, 14, 9, 45, 21), end_at=datetime.datetime(2015, 3, 14, 9, 18, 35), log_work='24 hours'),
 Row(product_id='PRODUCT_2336', machine_name='MACHINE_001', errors=96.0, code='EMAN', isError=1, start_at=datetime.datetime(2015, 3, 15, 3, 50, 49), end_at=datetime.datetime(2015, 3, 15, 3, 0, 13), log_work='23 hours'),
 Row(product_id='PRODUCT_2369', machine_name='MACHINE_001', errors=96.0, code='FQCH', isError=1, start_at=datetime.datetime(2015, 3, 16, 2, 0, 12), end_at=datetime.datetime(2015, 3, 15, 23, 53, 41), log_work='22 hours'),
 Row(product_id='PRODUCT_2377', machine_name='MACHINE_001', errors=96.0, code='BPAK', isError=1, start_at=datetime.datetime(2015, 3, 16, 10, 21, 3), end_at=datetime.datetime(2015, 3, 16, 9, 33, 19), log_work='23 hours'),
 Row(product_id='PRODUCT_2411', machine_name='MACHINE_001', errors=96.0, code='BLOK', isError=1, start_at=datetime.datetime(2015, 3, 17, 4, 17, 55), end_at=datetime.datetime(2015, 3, 17, 2, 57, 48), log_work='23 hours'),
 Row(product_id='PRODUCT_2414', machine_name='MACHINE_001', errors=96.0, code='BPAK', isError=1, start_at=datetime.datetime(2015, 3, 17, 2, 57, 31), end_at=datetime.datetime(2015, 3, 17, 0, 54, 3), log_work='22 hours'),
 Row(product_id='PRODUCT_2414', machine_name='MACHINE_001', errors=96.0, code='BLOK', isError=1, start_at=datetime.datetime(2015, 3, 17, 2, 57, 31), end_at=datetime.datetime(2015, 3, 17, 0, 54, 3), log_work='22 hours'),
 Row(product_id='PRODUCT_2415', machine_name='MACHINE_001', errors=97.0, code='BPAK', isError=1, start_at=datetime.datetime(2015, 3, 17, 8, 17, 41), end_at=datetime.datetime(2015, 3, 17, 6, 45, 44), log_work='22 hours'),
 Row(product_id='PRODUCT_2415', machine_name='MACHINE_001', errors=96.0, code='EMAN', isError=1, start_at=datetime.datetime(2015, 3, 17, 8, 17, 41), end_at=datetime.datetime(2015, 3, 17, 6, 45, 44), log_work='22 hours'),
 Row(product_id='PRODUCT_2424', machine_name='MACHINE_001', errors=96.0, code='BPAK', isError=1, start_at=datetime.datetime(2015, 3, 17, 17, 57, 29), end_at=datetime.datetime(2015, 3, 17, 16, 58, 3), log_work='23 hours'),
 Row(product_id='PRODUCT_2460', machine_name='MACHINE_001', errors=96.0, code='BLOK', isError=1, start_at=datetime.datetime(2015, 3, 19, 13, 2, 3), end_at=datetime.datetime(2015, 3, 19, 11, 57, 24), log_work='23 hours'),
 Row(product_id='PRODUCT_2707', machine_name='MACHINE_001', errors=96.0, code='FQCH', isError=1, start_at=datetime.datetime(2015, 3, 27, 13, 55, 7), end_at=datetime.datetime(2015, 3, 27, 12, 8, 9), log_work='22 hours'),
 Row(product_id='PRODUCT_3002', machine_name='MACHINE_001', errors=96.0, code='BLOK', isError=1, start_at=datetime.datetime(2015, 4, 8, 21, 21, 47), end_at=datetime.datetime(2015, 4, 8, 20, 19, 41), log_work='23 hours'),
 Row(product_id='PRODUCT_3165', machine_name='MACHINE_001', errors=96.0, code='BLOK', isError=1, start_at=datetime.datetime(2015, 4, 14, 15, 34, 58), end_at=datetime.datetime(2015, 4, 14, 14, 57, 49), log_work='23 hours'),
 Row(product_id='PRODUCT_3179', machine_name='MACHINE_001', errors=96.0, code='EMAN', isError=1, start_at=datetime.datetime(2015, 4, 15, 1, 25, 43), end_at=datetime.datetime(2015, 4, 15, 0, 42, 12), log_work='23 hours')]

In [45]:
rdd_product_isError.map(lambda x : (x.product_id , x.machine_name,x.errors,x.code,x.start_at ,x.log_work)) \
                    .collect()

[('PRODUCT_10971',
  'MACHINE_002',
  99.0,
  'BLOK',
  datetime.datetime(2015, 1, 11, 18, 57, 58),
  '2 hours'),
 ('PRODUCT_11413',
  'MACHINE_002',
  111.0,
  'EMAN',
  datetime.datetime(2015, 1, 29, 5, 12, 30),
  '1 hours'),
 ('PRODUCT_11413',
  'MACHINE_002',
  111.0,
  'FQCH',
  datetime.datetime(2015, 1, 29, 5, 12, 30),
  '1 hours'),
 ('PRODUCT_11622',
  'MACHINE_002',
  96.0,
  'FQCH',
  datetime.datetime(2015, 2, 7, 10, 8, 30),
  '1 hours'),
 ('PRODUCT_14111',
  'MACHINE_002',
  96.0,
  'BLOK',
  datetime.datetime(2015, 6, 3, 13, 11, 59),
  '2 hours'),
 ('PRODUCT_41',
  'MACHINE_001',
  96.0,
  'FQCH',
  datetime.datetime(2014, 12, 4, 7, 19, 53),
  '24 hours'),
 ('PRODUCT_151',
  'MACHINE_001',
  104.0,
  'EMAN',
  datetime.datetime(2014, 12, 10, 16, 30, 12),
  '22 hours'),
 ('PRODUCT_439',
  'MACHINE_001',
  96.0,
  'EMAN',
  datetime.datetime(2014, 12, 23, 6, 27, 4),
  '23 hours'),
 ('PRODUCT_444',
  'MACHINE_001',
  96.0,
  'EMAN',
  datetime.datetime(2014, 12, 23, 14, 14, 32),
  '23 hours'),
 ('PRODUCT_471',
  'MACHINE_001',
  96.0,
  'EMAN',
  datetime.datetime(2014, 12, 25, 2, 23, 15),
  '22 hours'),
 ('PRODUCT_626',
  'MACHINE_001',
  96.0,
  'BLOK',
  datetime.datetime(2015, 1, 1, 11, 46),
  '23 hours'),
 ('PRODUCT_628',
  'MACHINE_001',
  96.0,
  'FQCH',
  datetime.datetime(2014, 12, 31, 16, 45, 54),
  '23 hours'),
 ('PRODUCT_959',
  'MACHINE_001',
  96.0,
  'BPAK',
  datetime.datetime(2015, 1, 15, 4, 58, 22),
  '23 hours'),
 ('PRODUCT_1346',
  'MACHINE_001',
  96.0,
  'BPAK',
  datetime.datetime(2015, 1, 30, 6, 20, 10),
  '22 hours'),
 ('PRODUCT_1346',
  'MACHINE_001',
  96.0,
  'FQCH',
  datetime.datetime(2015, 1, 30, 6, 20, 10),
  '22 hours'),
 ('PRODUCT_1354',
  'MACHINE_001',
  96.0,
  'EMAN',
  datetime.datetime(2015, 1, 30, 8, 55, 11),
  '23 hours'),
 ('PRODUCT_1366',
  'MACHINE_001',
  96.0,
  'BLOK',
  datetime.datetime(2015, 1, 30, 7, 58, 20),
  '23 hours'),
 ('PRODUCT_1455',
  'MACHINE_001',
  96.0,
  'BPAK',
  datetime.datetime(2015, 2, 3, 10, 24, 40),
  '23 hours'),
 ('PRODUCT_1514',
  'MACHINE_001',
  96.0,
  'FQCH',
  datetime.datetime(2015, 2, 6, 5, 13, 36),
  '23 hours'),
 ('PRODUCT_1535',
  'MACHINE_001',
  96.0,
  'BLOK',
  datetime.datetime(2015, 2, 6, 23, 54, 54),
  '23 hours'),
 ('PRODUCT_1535',
  'MACHINE_001',
  96.0,
  'EMAN',
  datetime.datetime(2015, 2, 6, 23, 54, 54),
  '23 hours'),
 ('PRODUCT_1771',
  'MACHINE_001',
  96.0,
  'BLOK',
  datetime.datetime(2015, 2, 19, 10, 50, 5),
  '22 hours'),
 ('PRODUCT_1854',
  'MACHINE_001',
  96.0,
  'BPAK',
  datetime.datetime(2015, 2, 24, 2, 14, 12),
  '23 hours'),
 ('PRODUCT_1867',
  'MACHINE_001',
  96.0,
  'BPAK',
  datetime.datetime(2015, 2, 24, 8, 14, 51),
  '23 hours'),
 ('PRODUCT_1910',
  'MACHINE_001',
  96.0,
  'FQCH',
  datetime.datetime(2015, 2, 27, 8, 20, 39),
  '23 hours'),
 ('PRODUCT_1917',
  'MACHINE_001',
  96.0,
  'EMAN',
  datetime.datetime(2015, 2, 27, 15, 16, 17),
  '22 hours'),
 ('PRODUCT_1934',
  'MACHINE_001',
  99.0,
  'EMAN',
  datetime.datetime(2015, 3, 1, 3, 23, 18),
  '23 hours'),
 ('PRODUCT_1956',
  'MACHINE_001',
  96.0,
  'EMAN',
  datetime.datetime(2015, 3, 2, 14, 48, 3),
  '23 hours'),
 ('PRODUCT_1957',
  'MACHINE_001',
  96.0,
  'FQCH',
  datetime.datetime(2015, 3, 2, 10, 35, 41),
  '23 hours'),
 ('PRODUCT_1980',
  'MACHINE_001',
  96.0,
  'BPAK',
  datetime.datetime(2015, 3, 3, 1, 8, 36),
  '23 hours'),
 ('PRODUCT_1984',
  'MACHINE_001',
  96.0,
  'BPAK',
  datetime.datetime(2015, 3, 3, 9, 14, 15),
  '23 hours'),
 ('PRODUCT_1989',
  'MACHINE_001',
  96.0,
  'EMAN',
  datetime.datetime(2015, 3, 3, 5, 13, 16),
  '22 hours'),
 ('PRODUCT_1998',
  'MACHINE_001',
  96.0,
  'BLOK',
  datetime.datetime(2015, 3, 3, 3, 36, 54),
  '23 hours'),
 ('PRODUCT_2025',
  'MACHINE_001',
  96.0,
  'FQCH',
  datetime.datetime(2015, 3, 4, 6, 29, 38),
  '23 hours'),
 ('PRODUCT_2135',
  'MACHINE_001',
  96.0,
  'FQCH',
  datetime.datetime(2015, 3, 8, 2, 34, 50),
  '23 hours'),
 ('PRODUCT_2152',
  'MACHINE_001',
  96.0,
  'BPAK',
  datetime.datetime(2015, 3, 8, 20, 29, 1),
  '24 hours'),
 ('PRODUCT_2280',
  'MACHINE_001',
  96.0,
  'BLOK',
  datetime.datetime(2015, 3, 12, 14, 36),
  '23 hours'),
 ('PRODUCT_2281',
  'MACHINE_001',
  96.0,
  'EMAN',
  datetime.datetime(2015, 3, 13, 1, 42, 22),
  '23 hours'),
 ('PRODUCT_2284',
  'MACHINE_001',
  96.0,
  'EMAN',
  datetime.datetime(2015, 3, 13, 5, 3, 18),
  '23 hours'),
 ('PRODUCT_2317',
  'MACHINE_001',
  96.0,
  'BPAK',
  datetime.datetime(2015, 3, 14, 9, 45, 21),
  '24 hours'),
 ('PRODUCT_2336',
  'MACHINE_001',
  96.0,
  'EMAN',
  datetime.datetime(2015, 3, 15, 3, 50, 49),
  '23 hours'),
 ('PRODUCT_2369',
  'MACHINE_001',
  96.0,
  'FQCH',
  datetime.datetime(2015, 3, 16, 2, 0, 12),
  '22 hours'),
 ('PRODUCT_2377',
  'MACHINE_001',
  96.0,
  'BPAK',
  datetime.datetime(2015, 3, 16, 10, 21, 3),
  '23 hours'),
 ('PRODUCT_2411',
  'MACHINE_001',
  96.0,
  'BLOK',
  datetime.datetime(2015, 3, 17, 4, 17, 55),
  '23 hours'),
 ('PRODUCT_2414',
  'MACHINE_001',
  96.0,
  'BPAK',
  datetime.datetime(2015, 3, 17, 2, 57, 31),
  '22 hours'),
 ('PRODUCT_2414',
  'MACHINE_001',
  96.0,
  'BLOK',
  datetime.datetime(2015, 3, 17, 2, 57, 31),
  '22 hours'),
 ('PRODUCT_2415',
  'MACHINE_001',
  97.0,
  'BPAK',
  datetime.datetime(2015, 3, 17, 8, 17, 41),
  '22 hours'),
 ('PRODUCT_2415',
  'MACHINE_001',
  96.0,
  'EMAN',
  datetime.datetime(2015, 3, 17, 8, 17, 41),
  '22 hours'),
 ('PRODUCT_2424',
  'MACHINE_001',
  96.0,
  'BPAK',
  datetime.datetime(2015, 3, 17, 17, 57, 29),
  '23 hours'),
 ('PRODUCT_2460',
  'MACHINE_001',
  96.0,
  'BLOK',
  datetime.datetime(2015, 3, 19, 13, 2, 3),
  '23 hours'),
 ('PRODUCT_2707',
  'MACHINE_001',
  96.0,
  'FQCH',
  datetime.datetime(2015, 3, 27, 13, 55, 7),
  '22 hours'),
 ('PRODUCT_3002',
  'MACHINE_001',
  96.0,
  'BLOK',
  datetime.datetime(2015, 4, 8, 21, 21, 47),
  '23 hours'),
 ('PRODUCT_3165',
  'MACHINE_001',
  96.0,
  'BLOK',
  datetime.datetime(2015, 4, 14, 15, 34, 58),
  '23 hours'),
 ('PRODUCT_3179',
  'MACHINE_001',
  96.0,
  'EMAN',
  datetime.datetime(2015, 4, 15, 1, 25, 43),
  '23 hours')]